.link {
  @apply text-teal-600
           dark:text-teal-400
            transition-colors
            duration-150
            hover:bg-teal-100
            dark:hover:bg-teal-800
            focus:outline-none
            focus:ring-2 focus:ring-amber-500;
}
